{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "9385be3c88ab6593350fdda50d86af985224971b"}
        amjil/mongol-menu-bar
        {:git/url "https://github.com/amjil/mongol-menu-bar.git"
         :sha "d070ea149db29bed57a77eee09af3f865462c4ac"}
        amjil/mongol-virtual-keyboard
        {:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
         :sha "f88434f9d41ce12625fe033b3469fc9e06841cc7"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main notes-app.main}}
