{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "9385be3c88ab6593350fdda50d86af985224971b"}
        amjil/mongol-virtual-keyboard
        {:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
         :sha "c463242e8225774e9e67eb489fd85272be4fd703"}
        amjil/electric-sync
        {:git/url "https://github.com/amjil/electric-sync"
         :sha "6d5fc716cf7f2e68b1a9a2a729c8f9bb4951f869"}
        amjil/mongol-block-editor
        {:git/url "https://github.com/amjil/mongol-block-editor.git"
         :sha "b62b89dd029098aaff6c491c2fcf29a3c60a0512"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main notes-app.main}}
